# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives: List popular languages for Data Science**
* Pthyon
* R
* SQL
* Scala
* Julia

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. TensorFlow
6. Keras

| Data Science Tools |
|------|
| JupyterLabs |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Neha Jain